
<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="active"><%= link_to "Login", coming_soon_path %></li>
  </ul>
  <h3 class="muted">Awesome Challange!</h3>
</div>

<hr>

<div class="jumbotron">
  <h1>Super awesome Challenge!</h1>
  <p class="lead"></p>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span12">
    <h4>Rules</h4>
    <p>* The competition is held on weekly basis.</p>
    <p>* You win if you run more than the other person.</p>
    <p>* The winner will get RM 50. </p>
    <p>* The money will be disbursed on monthly basis.</p>
    <p>* The minimal distance is 8KM per week. You won't get anything
    if everyone runs less than 8KM.</p>
    <p>* The competition is based on trust of each other. No referree
    no bullshit or whatsoever. </p>
    <p>* Rules is not final and can be changed by the organizer.</p>
  </div>
</div>

